.body {
    background: linear-gradient(to bottom right, #e0f7fa, #ece0fa);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
  }
  


.bgcolor{
    min-height: 100vh;
    background-color: #f1f2f9;
    width: "100%";
    padding: "2rem";
}
button{
    background-color: #e0e0e2;
}
.Avialable-row{
    color: green; 
}

.Occupied-row{
    color: red; 
}

.tab-item:hover {
    background-color: #dbcff0;
    width: 100%;/* Change background color on hover */
  }
  
      /* Style for tab item text hover */
.tab-item:hover .MuiTypography-root .tab-icon{
    color: #6b43af; /* Change text color on hover */
}

.apartmentIcon{
    width: 10px;
    height: inherit;
    
}

.cardbg{
    width: 145px;
    cursor: pointer;


}

/* Start of TenantIcon CSS */
.tenantIcon{
    width: 70px;
    cursor: pointer;

}
@media (max-width: 1200px) { /* Large devices (desktops, 992px and up) */
    .tenantIcon {
        width: 65px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .tenantIcon {
        width: 58px;
    }
}

@media (max-width: 768px) { /* Extra small (landscape phones, 576px and up) */
    .tenantIcon {
        width: 70px;
    }
}
/* end  */

/* Start of Apartment Icon CSS */
.apartmentIcon{
    width: 70px;
    cursor: pointer;

}

@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .apartmentIcon {
        width: 65px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .apartmentIcon {
        width: 57px;
    }
}

@media (max-width: 768px) { /* Extra small (landscape phones, 576px and up) */
    .apartmentIcon {
        width: 70px;
    }
}
/* End */
/* Start of RoomIcon CSS */
.roomIcon{
    width: 70px;
    cursor: pointer;

}

@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .roomIcon {
        width: 65px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .roomIcon {
        width: 57px;
    }
}

@media (max-width: 768px) { /* Extra Small devices (landscape phones, 576px and up) */
    .roomIcon {
        width: 70px;
    }
}
/* End */
/* Start of IncomeICon CSS */
.incomeIcon {
    width: 70px;
    cursor: pointer;
}

@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .incomeIcon {
        width: 65px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .incomeIcon {
        width: 60px;
    }
}

@media (max-width: 768px) { /* Small devices (landscape phones, 576px and up) */
    .incomeIcon {
        width: 70px;
    }
}

/* end */


/* Start for 3d Repair */
.repairIcon{
    width: 85px;
    cursor: pointer;
    background: 'none';
    background: none; 

}

@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .repairIcon {
        width: 78px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .repairIcon {
        width: 65px;
    }
}

@media (max-width: 768px) { /* ExtraSmall devices (landscape phones, 576px and up) */
    .repairIcon {
        width: 59px;
    }
}
/* end */

/* Start of Home3Dicon CSS responsive */
.home3dIcon{
    width: 85px;
    cursor: pointer;
    background: 'none';
    background: none; 
}


@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .home3dIcon {
        width: 75px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .home3dIcon {
        width: 63px;
    }
}

@media (max-width: 768px) { /* ExtraSmall devices (landscape phones, 576px and up) */
    .home3dIcon {
        width: 58px;
    }
}
/* end */

/* Start for Apartment */
.hdpartment{
    width: 85px;
    cursor: pointer;
    background: 'none';
    background: none; 
}
@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .hdpartment {
        width: 65px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .hdpartment {
        width: 63px;
    }
}

@media (max-width: 768px) { /* ExtraSmall devices (landscape phones, 576px and up) */
    .hdpartment {
        width: 90px;
    }
}

/* end */

.apartmentunitIcon{
    width: '100%';
    cursor: pointer;
    background: 'none';
    background: none; 
    object-fit: contain;
}

/* start for hdroomIcon */

.hdroomIcon{
    width: 120px;
}

@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .hdroomIcon {
        width: 145px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .hdroomIcon {
        width: 150px;
    }
}

@media (max-width: 768px) { /* ExtraSmall devices (landscape phones, 576px and up) */
    .hdroomIcon {
        width: 140px;
    }
}
/* end for hdroomIcon */

/* start for hdlockIcon */
.hdlockIcon{
    width: 90px;
}
@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .hdlockIcon {
        width: 89px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .hdlockIcon {
        width: 99px;
    }
}

@media (max-width: 768px) { /* ExtraSmall devices (landscape phones, 576px and up) */
    .hdlockIcon {
        width: 79px;
    }
}


/*  */

/* Status Card Icon */
.DoneIcon{
    width: 100px;
    height: 90px;
}
@media (max-width: 1200px) { /* Medium devices (desktops, 992px and up) */
    .DoneIcon {
        width: 20px;
    }
}

@media (max-width: 998px) { /* Small devices (tablets, 768px and up) */
    .DoneIcon {
        width: 20px;
    }
}

@media (max-width: 768px) { /* ExtraSmall devices (landscape phones, 576px and up) */
    .DoneIcon {
        width: 60px;
    }
}





/* FUll CALENDAR */
.fc-header-toolbar {
    /* Default styles for large screens */
    justify-content: space-between;
    font-size: 12px;
    /* padding: 10px; */
    
  }

  
  /* For medium screens */
  @media (max-width: 960px) {
    .fc-header-toolbar {
        justify-content: space-between;
        font-size: 12px;
        margin-right: -1rem;
        /* margin-left: -0.1rem; */
    }
    .fc-header-toolbar .fc-toolbar-chunk {
      flex-basis: 100%;
    }
  }


  
  /* For small screens */
  @media (max-width: 600px) {
    .fc-header-toolbar {
        flex-wrap: wrap;
        flex-direction: start;
        margin-left: -10px;
        font-size: 12px;
        
    }
    .fc-header-toolbar .fc-toolbar-chunk {
      margin-bottom: 10px;
    }
  }


/* Sort Icon Transition */
.fc-toolbar-chunk .fc-button .fc-icon {
    
    transition: 'transform 0.3s ease',
    
    
}

/* User */
.credit-card{
    width: 90px;
    height: 'auto';
}
.schedule{
    width: 80px;
    height: 'auto';
}

.event-content {
    display: flex;
    flex-direction: column; /* or row depending on your layout */
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
}

.event-title {
font-weight: bold;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.event-status {
font-size: 0.9em;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}